<!DOCTYPE html>
<html lang="en" >
<head>
  <title>GIFme - Diviertete creando GIF animados</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>

  <link href="./bower_components/ng-material-floating-button/mfb/dist/mfb.css" rel="stylesheet"/>
  <link href="./assets/ionicons/ionicons.min.css" rel="stylesheet"/>

  <!-- <link rel="stylesheet" href="assets/app.css"/> -->

  <style type="text/css">

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
  .material-icons .icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
  }
  .material-icons {
    font-size: 26px;
  }
  .material-icons:before {
    display: block;
  }

  </style>

</head>

<body ng-app="gifme.app" layout="row" ng-controller="AppCtrl" ng-cloak >

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
  md-component-id="left"
  md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h2 class="md-toolbar-tools">
        <span>Dispositivos</span>
      </h2>
    </md-toolbar>
    <md-content flex class='md-padding'>
      <md-list>
        <md-list-item >
          <md-button ng-click="selectDevice(null)" ng-class="{'selected' : null === selected }">
            Todos los dispositivos
          </md-button>
        </md-list-item>
        <md-list-item ng-repeat="device in devices">
          <md-button ng-click="selectDevice(device.id)" ng-class="{'selected' : device.id === selected }">
            {{device.name}}
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="selectDevice('0')" ng-class="{'selected' : '0' == selected }">
            Imágenes no relacionadas
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1 md-theme-light">
      <md-button class="menu" hide-gt-sm ng-click="toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h2 class="md-toolbar-tools">
        <span>GIFme - Imágenes subidas.</span>
      </h2>
      <md-button class="menu" ng-click="toggleDelete()" aria-label="Show User List">
        <!-- <md-icon><i class="ion-trash-a"></i></md-icon> -->
        Editar
      </md-button>
    </md-toolbar>

    <md-content flex>
      <md-list>
        <md-subheader class="md-no-sticky">
          <b>{{count}}</b> Imágenes encontradas
        </md-subheader>
        <div ng-repeat="row in images">
          <md-list-item class="md-4-line" ng-repeat="image in row">
          <!-- <img md-lightbox ng-src="{{getImage(image)}}" class="md-avatar"> -->
            <button md-button class="md-fab md-primary" ng-click="showImage(image)" aria-label="Show Image" style="text-align: center;">
              <md-icon >
                <i class="icon ion-image"></i>
              </md-icon>
              <!-- <md-icon >
                
              </md-icon> -->
              <!-- Ver -->
            </button>
          <div class="md-list-item-text" layout="column">
            <h3>{{image.path}}</h3>
            <p><b>Fecha subida: </b>{{ image.created | date:'yyyy MM dd HH:mm:ss' }}</p>
            
            <md-checkbox ng-model="image.publish_networks"  ng-disabled="true"  ng-true-value="'1'" ng-false-value="'0'">
              Redes sociales
            </md-checkbox>
            <md-checkbox ng-model="image.publish_event" ng-disabled="true" ng-true-value="'1'" ng-false-value="'0'">
              Publicar en evento
            </md-checkbox>
              
          </div>
          <md-button ng-show="showDelete" class="md-secondary" ng-click="removeItem(image)">
            <md-icon class="ion-trash-a"></md-icon>
          </md-button>
          <!-- <md-divider ng-if="!$last"></md-divider> -->
        </md-list-item>
      </div>
    </md-list>
    
    <nav mfb-menu ng-if="selected" position="br" effect="zoomin" label="Acciones"
    active-icon="ion-edit" resting-icon="ion-plus-round"
    toggling-method="click">
    <button mfb-button icon="ion-upload" aria-label="Subir imagen" ng-click="uploadImage()">
    </button>
  </nav>


</md-content>
<md-button ng-if="selected" class="contact" md-no-ink ng-click="showContactOptions($event)" aria-label="Contact User">

</md-button>

</div>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
<script src="./bower_components/md-lightbox/mdLightbox.js"></script>
<script src="./bower_components/ng-material-floating-button/src/mfb-directive.js" rel="stylesheet"></script>

<script src="./src/controllers.js"></script>
<script src="./src/services.js"></script>

<script type="text/javascript">

angular
.module('gifme.app', ['ngMaterial', 'gifme.controllers', 'gifme.services', 'mdLightbox', 'ng-mfb'])
.config(function($mdThemingProvider, $mdIconProvider){

  $mdIconProvider
  .defaultIconSet("./assets/svg/avatars.svg", 128)
  .icon("menu"       , "./assets/svg/menu.svg"        , 24)
  .icon("share"      , "./assets/svg/share.svg"       , 24)
  .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
  .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
  .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
  .icon("phone"      , "./assets/svg/phone.svg"       , 512)
  .icon("upload"      , "./assets/svg/cloud-upload.svg"       , 512);

  $mdThemingProvider.theme('default')
  .primaryPalette('brown')
  .accentPalette('red');

});

</script>

<script type="text/ng-template" id="uploadTest.html">
  <form name="image-upload-test" action="upload" method="POST" enctype="multipart/form-data">
    <input type="text" name="deviceId">
    <input type="file" name="image" accept="image/*">
    <input type="submit">
  </form> 
</script>
</body>
</html>
